*{
    margin: 0;
    padding: 0;
}

p{
    margin: 10px;
    font-size: 17px;
}

.navBar{
    background-color: #002e3d;
    height: 60px;
    margin-bottom: 15px;
}

.container{
    margin: 0 auto;
    width: 70%;
}

.container ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

a{
    color: #ff8000;
    transition: 0.5s;
}
a:visited{
    color: #ff8000;
}


ul li:hover{
    text-decoration: underline;
}

button{
    padding: 10px;
    margin: 20px 1px;
    border-radius: 7px;
    border: 2px solid  #ff8000;
    background-color: #002e3d;
    color: #ff8000;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: #fff;
    color: #002e3d;
    border: 2px solid #002e3d;
    transition: 0.5s;
}

label{
    margin: 10px;
}

table{
    display: inline-block;
}